{% extends 'layout.twig' %}

{% block content %}
<div class="ui menu">
  <div class="header item">
    Crumba
  </div>
  <a class="item active" href="">Tracker</a>
  <a class="item" href="">Reports</a>
  <a class="item" href="">Settings</a>
  <div class="ui category search item">
    <div class="ui transparent icon input">
      <input class="prompt" placeholder="Search&hellip;" type="text">
      <i class="search link icon"></i>
    </div>
    <div class="results"></div>
  </div>
</div>

<div class="ui container component--tracker">
  <div class="ui menu">
    <div class="item">
      <div class="ui input component--tracker--description">
        <input placeholder="@work important task must finish #bloedspoed" type="text">
      </div>
    </div>
    <div class="item">
      <div class="ui input">
        <input placeholder="00:00" type="text">
      </div>
    </div>
    <div class="item">
      <div class="ui input">
        <input placeholder="00:00" type="text">
      </div>
    </div>
    <a href="" class="right item">Start</a>
  </div>
</div>
{% endblock %}
